@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f3eae3;
}

#carinho {
    padding-right: 8px;
    max-width: 12px;
}